#wrapper{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linear {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 50%;
    background: linear-gradient(
        to left,
        #ff5656,
        #ff8746,
        #ffea00,
        #e06f1e,
        #c99034
    );
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.form-title{
    font-size: 3rem;
}

.ip-credentials-container{
    width: 60vw;
    height: 80vh;

    box-shadow: 3px 3px 8px 3px var(--color-black-shadow);
    border-radius: 8px;

    display: flex;
}

.ip-credentials-form-container{
    background: var(--login-form-bg-color);

    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    width: 50%;
    padding: 5rem 8rem;
    gap: 2.5rem;

    display: flex;
    flex-direction: column;
}

.ip-credentials-form{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}

.ip-firstname,
.ip-lastname,
.ip-estabname,
.ip-cpnumber{
    padding: 1.5rem;

    width: 100%;

    background: rgba(0, 0, 0, 0.1);

    border-radius: 1.2rem;
    border: none;
    
    font-size: 1.5rem;
    font-weight: 700;
}

.ip-firstname::placeholder,
.ip-lastname::placeholder,
.ip-estabname::placeholder,
.ip-cpnumber::placeholder{
    color: rgba(0, 0, 0, 0.8);
}

.location_modal{
    background: var(--color-white);
    width: 28vw;
    height: 35vh;
    border-radius: 1.5rem;

    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

.country_field_orientation{
    display: flex;
    align-items: center;
    justify-content: center;
}

.city_field_orientation{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.ip-country,
.ip-province,
.ip-municipality{
    padding: 1rem;
    width: 50%;

    background: var(--color-input-bg);
    border: none;
    border-radius: 1.2rem;

    font-size: 1.5rem;
    font-weight: 700;
}

.ip-country::placeholder,
.ip-province::placeholder,
.ip-municipality::placeholder{
    color: rgba(0, 0, 0, 0.4);
}

#map{
    width: 100%;
    height: 100%;
    /* background: red; To Visualize Size Only */
    border-radius: 1.5rem;
}

.login-btn{
  padding: 1rem;
  width: 80%;

  background-color: #EFBD46;

  font-size: 1.8rem;
  font-weight: 700;

  border: none;
  border-radius: 13px;

  cursor: pointer;
}

.login-btn:hover{
  background-color: #cca240;

  transition: background ease 250ms;
}