@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
  --color-black: #000;
  --color-white: #fff;
  --background-color-header: #ff6701;
  --modal-box-color: #d9d9d9;;
  --card-bg-color: #d9d9d9;;
  --login-form-bg-color: #f5f2f2;
  --color-input-bg: #CECCCC;
  --color-black-shadow: rgba(0, 0, 0, .25);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

html{
  font-size: 62.5%;
}