#wrapper {
  padding: 1rem;

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgotpass-orientation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}


.forgotpass-orientation > img {
  width: clamp(10rem, 15rem, 20rem);
}

.forgotpass-container {
  padding: clamp(0.8rem, 1.5rem, 2.3rem);
  background-color: rgba(0, 0, 0, 0.75);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fp-prompt > h2 {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.fp-prompt > p {
  color: white;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 3rem;
}

.fp-form {
  width: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.ip-email {
  padding: 0.8rem;
  font-size: 1.4rem;
}

.fp-buttons {
  width: 100%;

  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.btn-fp {
  flex-grow: 1;
  padding: 0.5rem;
  cursor: pointer;
}