/* === WRAPPER STYLE === */
#wrapper {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}



/* === HEADER STYLES === */
header {
  padding-block: 0.5rem;
  padding-inline: 1rem;
  background-color: var(--background-color-header);

  display: flex;
  justify-content: space-between;
}

.dashboard-alignment {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  border: 1px solid black;
}

.dashboard-alignment > img {
  max-width: 6.5rem;

  border: 1px solid black;
}

.dashboard-alignment > h1 {
  font-size: 2.3rem;
  color: white;

  border: 1px solid black;
}

.right-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  border: 1px solid black;
}

.right-actions > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  text-decoration: none;

  border: 1px solid black;
}

.right-actions > a > img {
  max-width: 3.5rem;
}

.right-actions > a > p {
  color: white;
  font-size: 1.6rem;
}

.right-actions > button {
  background-color: transparent;

  color: white;
  font-size: 1.6rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  border: 1px solid black;
}

.right-actions > button > img {
  width: 2.5rem;
}

@media (max-width: 640px) {
  .right-actions {
    gap: 3rem;
  }

  .right-actions p {
    display: none;
  }
}

@media (max-width: 400px) {
  header {
    padding-block: 1rem;
  }

  .dashboard-alignment > img {
    display: none;
  }
}



/* === MAIN STYLES === */
main {
  border: 1px solid black;

  padding: 1rem;
}

.upper-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.device-status {

}

.sensor-reading {

}

.device-status > h2, .sensor-reading > h2 {
  font-size: 1.8rem;
}

.status-card, .sensor-card {
  padding: 1rem;
  background-color: var(--card-bg-color);

  border-radius: 8px;
}

.status-container, .last-active-container, .temp-container, .humid-container, .aqi-container {
  display: flex;
  align-items: center;
}

.status-container, .temp-container, .humid-container {
  margin-bottom: 0.5rem;
}

.status-container > strong, .last-active-container > strong, .temp-container > strong, .humid-container > strong, .aqi-container > strong {
  margin-right: 0.5rem;
  font-size: 1.4rem;
}

#status_indicator, #temp_indicator, #humid_indicator, #aqi_indicator {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 360px;
}

#status_indicator {
  margin-right: 0.2rem;
}

#temp_indicator, #humid_indicator, #aqi_indicator {
  margin-right: 0.5rem;
}

#status_text, #last_active, #temp_value, #humid_value, #aqi_value {
  font-size: 1.3rem;
}

.bfp-route {

}

.bfp-route > h2 {

}

.small-hint {

}

#bfp_map {

}

.lower-section {

}

.alert-history {

}

.alert-history > h2 {

}

.filter {

}

.filter > label {

}

.filter > select {

}

.filter > select > option {

}

.history-list-container {

}

.history-table {

}

.history-table > thead {

}

.history-table > thead > tr {

}

.history-table > tbody {

}

.history-table > tbody > tr {

}



/* === ALERT HISTORY POPUP STYLES === */
#alert_overlay {
  display: none;
}

#alert_modal {

}

#alert_modal_header {

}

#close_modal_button {

}

#alert_modal_body {

}

#alert_details {

}

#alert_type_container {

}

#alert_type_container > p:first-child {

}

#alert_type_container > p:last-child {

}

#alert_date_container {

}

#alert_date_container > p:first-child {

}

#alert_date_container > p:last-child {

}

#alert_time_container {

}

#alert_time_container > p:first-child {

}

#alert_time_container > p:last-child {

}

#image_container {

}

#image_container > div {

}

#image_container > p {

}

#delete_button {

}